<header>
  <div class="container-fluid col-sm-10 col-md 10 col-lg-12">
    <nav class="">
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-white active" routerLink="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/rols">ROLES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/breakfast">MENUS</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
