@import url('https://fonts.googleapis.com/css?family=Englebert');

header {
    background: #363131;
}

.logo {
    font-weight: bold;
}
/* a:hover {
    background: rgba(87, 85, 81, 0.637);
    color: #363131;
}
img {
    width: 60px;
    height: 60px;
} */