
<div class="style-2 row">
  <div class="section-home"class="style-2 col-8 col-md-10 col-lg-6 col-xl-6">
    <h1 class="text-2 col-md-10 col-lg-10">BURGER SALE APP</h1>
      <P [class.gray] class="text-3 col-md-12 col-lg-12">Es un sistema diseñado con doble funcion que permite tomar 
        los pedidos de los clientes y enviar los pedidos a una interfaz 
        para ser atendida por los cocineros. Es una solucion funcional y 
        flexible para administrar los pedidos de los usuarios.</P>

      <a routerLink="/rols" class="btn bg-warning text-dark btn-lg active anchor" role="button" aria-pressed="true">Ingresar</a>
  </div>
  <div class="style-2 col-4col-md-10 col-lg-5 col-xl-5">
    <img src="../../assets/burger-img/burger 3.png" alt="" class="img-home">
  </div>
</div>


