/* ul {
    list-style-type: none;
    margin: 0;padding: 0;
}

li {
    background: rgb(238, 238, 238);
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;
}

p {
    font-weight: bold;
    margin-left: 20px;
}

img {
    border-radius: 50%;
    width: 100%;
} */

button {
    background-color: #FFBA33;
    color: #474747;
}
.gray {
    color: white;
}
.text-2 {
    font-family: 'Englebert', sans-serif;
}

.text-3{
    padding-top: 20px;
}
.style-2 {
    color: white;
    padding-top: 60px;
    padding-left: 40px;
}
.anchor {
    margin-left: 40px;
    width: 200px;
    margin-top: 50px;
}