
<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">MESERO</h5>
      <a routerLink="/pedido" class="btn btn-primary">INGRESAR</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">COCINERO</h5>
        <a routerLink="/" class="btn btn-primary">INGRESAR</a>
      </div>
    </div>


  