<div class="d-flex justify-content-center top">
<div class="card col-md-5" style="width: 18rem; margin: 20px;padding-top: 20px;">
    <img src="../../assets/burger-img/MESERO.JPG" class="card-img-top img-cards" alt="mesero">
    <div class="card-body text-3">
      <h5 class="card-title">MESERO</h5>
      <a routerLink="/pedido" class="btn btn-cards">INGRESAR</a>
    </div>
  </div>

  <div class="card col-md-5" style="width: 18rem; margin: 20px;padding-top: 20px;">
      <img src="../../assets/burger-img/COCI.jpg" class="card-img-top img-cards" alt="cocinero">
      <div class="card-body text-3">
        <h5 class="card-title">COCINERO</h5>
        <a routerLink="/" class="btn btn-cards">INGRESAR</a>
      </div>
    </div>
  </div>

  