body {
    height: 100%;
    
}
.section-home {
    background-image: url('../assets/burger-img/fondo-7.jpg');
    width: 100%;
    /* height: 100vh; */
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

div.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

/* .section-menu {
    widows: 30%;
} */