/* .width {
    flex-basis: 0;
    -ms-flex-positive: 1;
    width: 35%;
} */

.general {
    width: 100%;
    
}
.width-2 {
    /* width: 15%; */
    height: 100vh;
    position: fixed;
    background: #363131;
    margin-top: 40px;
}
.width-3 {
    width: 80%;
     margin-left: 120px;
    margin-right: 20px;
    padding-top: 70px;
}
.margin {
    margin: 50px 20px;
    background: #363131;
}
 .card-1 {
width: 80%;
 }

 .img-icon{
     width: 50px;
 }

 .btn-menu {
    padding: 96px 20px;
 }

 .img-cards {
    height: 150px;
    width: 150px;
    border-radius: 20px;
 }

 .card-menu{ 
    width: 160px;
}

.menu-list {
    margin-right: 20px;
    border-radius: 15px;
}

.opacity {
 background-color: rgba(233, 156, 61, 0.938);
}
.img-container{
    position:relative;
    display:inline-block;
  }
  .img-container .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(212, 175, 55, 0.931);
    opacity:0;
    transition:opacity 500ms ease-in-out;
  }
  .img-container:hover .overlay{
    opacity:1;
  }

  .over {
    text-align: center;
  }