<!-- <div class="d-flex justify-content-between">
<app-section-menu></app-section-menu>
<app-data-user></app-data-user>
</div> -->

<!-- <div class="d-flex bd-highlight">
        <app-section-menu></app-section-menu>
        <app-data-user></app-data-user>
</div> -->

<div class="d-flex justify-content-between">
 <app-section-menu (mensajeDesdeMenu)="mensajeParaSectionUser($event)" class="col-lg-7 col-md-7 padding"></app-section-menu>
 <app-data-user class="margin col-lg-5 col-md-5 padding padding-2"></app-data-user>
</div>