.form-1 {
    width: 30%;
    float: right;
}

/* .margin {
    margin-left: 150px;
} */

.padding {
    padding-left: 0PX;
}
.padding-2 {
    padding-right: 0px;
}

@media (min-width: 992px) { }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    
}
